{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subscribe</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="{% static 'css/story10.css' %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body background="https://static1.squarespace.com/static/5717f392d210b8b47c218b6c/t/5908cb4a6b8f5b11c538782e/1493748560757/Levena+background.png?format=1500w">
    <header>{% include 'nav-bar.html' %}</header>
    <div class="container mx-auto d-block">
        <h1>Register to Subscribe</h1>
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                {{ field.as_widget }}
            {% endfor %}
        </div>
        <button id="button_subs" type="submit" class="btn" disabled>Subscribe</button>
    </div>

    <div class = "container p-5">
    <h3>Registered Account</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for user in daftarakun %}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><button id="unsubscribe" type="submit" class="btn">Unsubscribe</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>
<script>
    var name_valid = false
    var email_valid = false
    var password_valid = false

    function check_status() {
        console.log("name:"+name_valid)
        console.log("email:"+email_valid)
        console.log("pass:"+password_valid)
        if (name_valid && email_valid && password_valid) {
            $("#button_subs").prop("disabled", false);
        } else {
            $("#button_subs").prop("disabled", true);
        }
    }

    $("#name_form").change(function () {
        if(document.getElementById('name_form').value !== "") {
            name_valid = true;
        } else {
            name_valid = false;
        }
        check_status();
    });

    $("#password_form").change(function () {
        if(document.getElementById('password_form').value !== "") {
            password_valid = true;
        } else {
            password_valid = false;
        }
        check_status();
    });

    $("#email_form").change(function () {
        var email_value = document.getElementById('email_form').value;
        if(email_value == '') {
            email_valid = false;
            check_status();
            return false;
        }

        $.ajax({
            url: '/subs/validate-email/',
            data: {
                'email': email_value
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_taken || !data.is_valid) {
                    email_valid = false;
                    alert('E-mail sudah terdaftar atau tidak valid')
                } else {
                    email_valid = true;
                }
                check_status();
            }
        });
    });

    $

    $("#button_subs").click(function () {
        if (name_valid && password_valid && email_valid) {
            var name = document.getElementById("name_form").value;
            var pass = document.getElementById("password_form").value;
            var email = document.getElementById("email_form").value;

            $.ajax({
                type: "POST",
                url: "/subs/submit-form/",
                data: {
                    'name': name,
                    'password': pass,
                    'email': email,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.success_make_object) {
                        $("name_form").val("");
                        $("email_form").val("");
                        $("password_form").val("");
                        name_valid = false;
                        email_valid = false;
                        password_valid = false;
                        $("#button_subs").prop("disabled", true);
                    } else {
                        alert("Eror");
                    }
                }
            });
        } else {
            return false;
        }
    });
</script>
</html>