h1 {
    text-align: center;
}

label {
    font-size: 13px;
    vertical-align: middle;
    margin-bottom: 6px !important;
}

.btn {
    text-align: center;
    background-color:gray;
    color: #FFFFFF;
    margin-left: 100px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.btn[disabled=false]:hover {
    border: #2196f3 1px solid;
    background-color: #FFFFFF;
    color: #2196f3;
}


