{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Favorite Book</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/story9.css' %}" type="text/css">
</head>
<body background="https://static1.squarespace.com/static/5717f392d210b8b47c218b6c/t/5908cb4a6b8f5b11c538782e/1493748560757/Levena+background.png?format=1500w">
{% include 'nav-bar.html' %} 

<div class="main-div">
    <h1 class="text-main">
        List Book
    </h1>
    <h5 id="fav">
        Favorite : 0
    </h5>
    <div class="container">
        <div class="table table-responsive">
            <table class="table table-hover" id="book-table">
                <thead>
                    <th>Cover</th>
                    <th>Judul</th>
                    <th>Penulis</th>
                    <th>Penerbit</th>
                    <th>Favorite</th>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var favOn = "{% static 'img/favOn.png' %}";
    var favOff = "{% static 'img/favOff.png' %}";

    $(document).ready(function() {

        $.ajax({
            url: {% autoescape off %} {{ books }} {% endautoescape %},
            dataType: 'json',
            success: function(data) {
                var items = data.items;
                $('#book-table').DataTable({
                    data: items,
                    columns: [
                        {
                            orderable: false,
                            data: 'volumeInfo.imageLinks.thumbnail',
                            render: function(data) {
                                return '<img src="' + data + '"/>';
                            }
                        },
                        {data: 'volumeInfo.title'},
                        {data: 'volumeInfo.authors.[, ]'},
                        {data: 'volumeInfo.publisher'},
                        {
                            orderable: false,
                            data: 'id',
                            render: function(data) {
                                return "<img id='" + data + "' onclick=favorit('" + data + "') width='50px' height='50px' src='{% static '/img/favOff.png' %}'>"
                            }
                        },
                    ]
                })
            }
        });
    });
</script>
<script src="{% static 'js/story9.js' %}"></script>

</body>
</html>
