body {
    font-family: 'Dosis', sans-serif;
}
h1{
    margin-top: 20px;
    font-weight: bolder;
}
table {
    background-color: rgba(33, 150, 243, 0.51) !important;
}
.favico {
    height: 10px;
    width: 10px;
}