{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/status">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li id='header' class="active"><a href="/profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li id='header' class="active"><a href="/favbook">Favorite Book</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li id='header' class="active"><a href="/subs">Subscribe</a></li>
        </ul>
    </div>
</nav>

</body>
            
</html>