{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'static/css/story3.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'static/js/js8.js' %}"></script>
</head>


<body onload="myFunction()" background="https://static1.squarespace.com/static/5717f392d210b8b47c218b6c/t/5908cb4a6b8f5b11c538782e/1493748560757/Levena+background.png?format=1500w">
    <div id="loader"></div>

    <div style="display:none;" id="myDiv" class="animate-bottom">
    {% include 'nav-bar.html' %}
            
    <h1 style='text-align:center;font-family:Courier New;font-size:40px'><b>Hello, World!</b></h1>
    <div class="container-fluid">
        <h2 style='text-align:center;font-family:Courier New;font-size:30px'><b>Dzaky Abdi Al Jabbar</b></h1>
        <div class="row">
            <div class="col-sm-4" >
                <p style='font-family:Courier New;font-size:25px'><b>About me</b></p>
                <p style='font-family:Courier New;font-size:15px'><b>Halo, kawan!<br>Perkenalkan nama saya Dzaky. Saya masih menentukan jalan hidup. Saya tinggal di depok bersama orang tua saya. Hobi saya adalah membaca novel<br>Salam, kenal!</b></p>
            </div>
            <div class="col-sm-4" >
                <img src="https://pbs.twimg.com/media/DmYjfZoXgAEizJA.jpg:large" class="img-circle" alt="My foto profile" width="230" height="230">
                <button id="header1" type="submit" class="btn btn-info btn-md test-jquery"><b>Blue</b></button>
                <button id="header2" type="submit" class="btn btn-info btn-md test-jquery2"><b>Black</b></button>
            </div>            
            <div class="col-sm-4" >
                <p style='font-family:Courier New;font-size:25px'><b>Detail</b></p>
                <p style='font-family:Courier New;font-size:15px'><b>Nama : Dzaky Abdi Al Jabbar<br>NPM   : 1706043462<br>Hobi   : Tidur<br>Cirebon, 17 September 1999</div></b></p>
        </div>
    
        <div class="accordion">
            <div class="accordion-header">
                Pengalaman
            </div>
            <div class="accordion-content">
                <p>Nama : Dzaky Abdi Al Jabbar</p>
                <p>Tempat, tanggal lahir : Cirebon, 17 September 1999</p>
                <p>Umur : 19 Tahun</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-header">
                Aktivitas
            </div>
            <div class="accordion-content">
                <p>Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia</p>
                <p>Forum Ukhuwah dan Kajian Islam</p>
                <p>Bedah Kampus Universitas Indonesia</p>
            </div>
        </div>

        <div class="accordion">
                <div class="accordion-header">
                    Organisasi/Kepanitiaan
                </div>
                <div class="accordion-content">
                    <p>Wakil Ketua Ekstrakulikuler Pencak Silat Merpati Putih SMAN 2 Cirebon</p>
                    <p>Koordinator Bidang Pelatihan UKM Merpati Putih Universitas Indonesia</p>
                    <p>PJ Perlengkapan & Transportasi UI Goes To Cirebon 2018</p>
                    <p>Vice Project Officer UI Goes To Cirebon 2019</p>
                    <p>Bendahara FUKI Quranic Olimpiade 2018</p>
                    <p>Staff Laison Officer Wisuda Genap Fasilkom 2018</p>
                    <p>Staff Rekan Media Bedah Kampus UI 2018</p>
                    <p>Staff Departemen Al-Qur'an Fuki Fasilkom 2018</p>
                    <p>Staff Divisi Acara SIWAK-Ng 2018</p>
                </div>
        </div>
    </div>
</div>

</body>

</html>
