{% load static %}
{% include 'nav-bar.html' %}   

<!DOCTYPE html>
<html>
<head>
    <title>Status</title>
</head>
<body background="https://static1.squarespace.com/static/5717f392d210b8b47c218b6c/t/5908cb4a6b8f5b11c538782e/1493748560757/Levena+background.png?format=1500w">

<div class="container">
    <h1>Hello, Apa Kabar?</h1>
    <div class="form-group">
    <form id='form' method="POST" action="/status">
        {% csrf_token %}
        <table border="1">
            {{ form }}
        </table>
        <button id="submit" type="submit" class="save btn btn-default">Submit</button> 
    </form>
</div>
</div>

<div class = "container p-5">
    <h3>Daftar Status</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Status</th>
                <th>Date, time</th>
            </thead>
            <tbody>
                {% for e in daftarstatus %}
                <tr>
                    <td>{{e.status}}</td>
                    <td>{{e.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
